USE [master]
GO
/****** Object:  Database [DB_ColitasFelices]    Script Date: 14/3/2026 13:06:32 ******/
CREATE DATABASE [DB_ColitasFelices]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ColitasFelices', FILENAME = N'C:\Users\USER\DB_ColitasFelices.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ColitasFelices_log', FILENAME = N'C:\Users\USER\DB_ColitasFelices_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ColitasFelices].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ColitasFelices]
GO
/****** Object:  Table [dbo].[cuenta]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta](
	[CuentaID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[GoogleID] [varchar](100) NULL,
	[RolID] [tinyint] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[IntentosFallidos] [tinyint] NOT NULL,
	[BloqueadoHasta] [datetime] NULL,
	[VecesBloqueo] [tinyint] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[UltimoAcceso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cuenta_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuenta_permiso]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta_permiso](
	[CuentaID] [int] NOT NULL,
	[PermisoID] [smallint] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[AsignadoPor] [int] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CuentaID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuenta_token_recuperacion]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta_token_recuperacion](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[CuentaID] [int] NOT NULL,
	[TipoID] [tinyint] NOT NULL,
	[Codigo] [char](6) NOT NULL,
	[FechaExpira] [datetime] NOT NULL,
	[FechaUso] [datetime] NULL,
	[Usado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuenta_token_sesion]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta_token_sesion](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[CuentaID] [int] NOT NULL,
	[TipoID] [tinyint] NOT NULL,
	[Token] [char](36) NOT NULL,
	[FechaExpira] [datetime] NOT NULL,
	[FechaUso] [datetime] NULL,
	[Usado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_sesion_token] UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documento_perfil]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documento_perfil](
	[DocumentoID] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumentoID] [tinyint] NOT NULL,
	[NombreArchivo] [varchar](100) NOT NULL,
	[BlobUrl] [varchar](500) NOT NULL,
	[ContentType] [varchar](50) NOT NULL,
	[TamanoBytes] [int] NULL,
	[FechaSubida] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[PerfilID] [int] IDENTITY(1,1) NOT NULL,
	[CuentaID] [int] NOT NULL,
	[PrimerNombre] [varchar](40) NOT NULL,
	[SegundoNombre] [varchar](40) NULL,
	[PrimerApellido] [varchar](40) NOT NULL,
	[SegundoApellido] [varchar](40) NULL,
	[TipoIdentificacionID] [tinyint] NULL,
	[NumeroIdentificacion] [varchar](20) NULL,
	[Genero] [char](1) NULL,
	[FechaNacimiento] [date] NULL,
	[TelefonoPrincipal] [varchar](15) NULL,
	[TelefonoAlternativo] [varchar](15) NULL,
	[Foto] [varbinary](max) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PerfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_perfil_CuentaID] UNIQUE NONCLUSTERED 
(
	[CuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[PermisoID] [smallint] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Modulo] [varchar](30) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_temporal]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_temporal](
	[RegistroID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[PrimerNombre] [varchar](40) NOT NULL,
	[SegundoNombre] [varchar](40) NULL,
	[PrimerApellido] [varchar](40) NOT NULL,
	[SegundoApellido] [varchar](40) NULL,
	[Telefono] [varchar](15) NULL,
	[CodigoVerificacion] [varchar](6) NOT NULL,
	[CodigoExpiracion] [datetime] NOT NULL,
	[Verificado] [bit] NOT NULL,
	[Intentos] [tinyint] NOT NULL,
	[Reenvios] [tinyint] NOT NULL,
	[UltimoReenvio] [datetime] NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_registro_temporal_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rel_perfil_documento]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rel_perfil_documento](
	[PerfilID] [int] NOT NULL,
	[DocumentoID] [int] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[MotivoRechazo] [varchar](255) NULL,
	[FechaRevision] [datetime] NULL,
	[RevisadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PerfilID] ASC,
	[DocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[RolID] [tinyint] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_documento]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_documento](
	[TipoDocumentoID] [tinyint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Requerido] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoDocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_identificacion]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_identificacion](
	[TipoIdentificacionID] [tinyint] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Formato] [varchar](50) NULL,
	[LongitudMin] [tinyint] NULL,
	[LongitudMax] [tinyint] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoIdentificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[token_tipo]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[token_tipo](
	[TipoID] [tinyint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[DuracionMin] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_cuenta_Estado]    Script Date: 14/3/2026 13:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_cuenta_Estado] ON [dbo].[cuenta]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cuenta_RolID]    Script Date: 14/3/2026 13:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_cuenta_RolID] ON [dbo].[cuenta]
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_cuenta_GoogleID]    Script Date: 14/3/2026 13:06:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_cuenta_GoogleID] ON [dbo].[cuenta]
(
	[GoogleID] ASC
)
WHERE ([GoogleID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_recuperacion_CuentaID]    Script Date: 14/3/2026 13:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_recuperacion_CuentaID] ON [dbo].[cuenta_token_recuperacion]
(
	[CuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_sesion_CuentaID]    Script Date: 14/3/2026 13:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_sesion_CuentaID] ON [dbo].[cuenta_token_sesion]
(
	[CuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_sesion_Token]    Script Date: 14/3/2026 13:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_sesion_Token] ON [dbo].[cuenta_token_sesion]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_documento_perfil_Tipo]    Script Date: 14/3/2026 13:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_documento_perfil_Tipo] ON [dbo].[documento_perfil]
(
	[TipoDocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_perfil_CuentaID]    Script Date: 14/3/2026 13:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_perfil_CuentaID] ON [dbo].[perfil]
(
	[CuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_registro_temporal_Email]    Script Date: 14/3/2026 13:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_registro_temporal_Email] ON [dbo].[registro_temporal]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cuenta] ADD  DEFAULT ((1)) FOR [RolID]
GO
ALTER TABLE [dbo].[cuenta] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[cuenta] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[cuenta] ADD  DEFAULT ((0)) FOR [VecesBloqueo]
GO
ALTER TABLE [dbo].[cuenta] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[cuenta_permiso] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[cuenta_permiso] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion] ADD  DEFAULT ((1)) FOR [TipoID]
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion] ADD  DEFAULT ((0)) FOR [Usado]
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[cuenta_token_sesion] ADD  DEFAULT ((2)) FOR [TipoID]
GO
ALTER TABLE [dbo].[cuenta_token_sesion] ADD  DEFAULT ((0)) FOR [Usado]
GO
ALTER TABLE [dbo].[cuenta_token_sesion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[documento_perfil] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[perfil] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[permiso] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[registro_temporal] ADD  DEFAULT (dateadd(minute,(15),getdate())) FOR [CodigoExpiracion]
GO
ALTER TABLE [dbo].[registro_temporal] ADD  DEFAULT ((0)) FOR [Verificado]
GO
ALTER TABLE [dbo].[registro_temporal] ADD  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[registro_temporal] ADD  DEFAULT ((0)) FOR [Reenvios]
GO
ALTER TABLE [dbo].[registro_temporal] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[rel_perfil_documento] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[rol] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[tipo_documento] ADD  DEFAULT ((0)) FOR [Requerido]
GO
ALTER TABLE [dbo].[tipo_documento] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[tipo_identificacion] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK_cuenta_rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[rol] ([RolID])
GO
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK_cuenta_rol]
GO
ALTER TABLE [dbo].[cuenta_permiso]  WITH CHECK ADD  CONSTRAINT [FK_cp_asignador] FOREIGN KEY([AsignadoPor])
REFERENCES [dbo].[cuenta] ([CuentaID])
GO
ALTER TABLE [dbo].[cuenta_permiso] CHECK CONSTRAINT [FK_cp_asignador]
GO
ALTER TABLE [dbo].[cuenta_permiso]  WITH CHECK ADD  CONSTRAINT [FK_cp_cuenta] FOREIGN KEY([CuentaID])
REFERENCES [dbo].[cuenta] ([CuentaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cuenta_permiso] CHECK CONSTRAINT [FK_cp_cuenta]
GO
ALTER TABLE [dbo].[cuenta_permiso]  WITH CHECK ADD  CONSTRAINT [FK_cp_permiso] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[permiso] ([PermisoID])
GO
ALTER TABLE [dbo].[cuenta_permiso] CHECK CONSTRAINT [FK_cp_permiso]
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion]  WITH CHECK ADD  CONSTRAINT [FK_recuperacion_cuenta] FOREIGN KEY([CuentaID])
REFERENCES [dbo].[cuenta] ([CuentaID])
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion] CHECK CONSTRAINT [FK_recuperacion_cuenta]
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion]  WITH CHECK ADD  CONSTRAINT [FK_recuperacion_tipo] FOREIGN KEY([TipoID])
REFERENCES [dbo].[token_tipo] ([TipoID])
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion] CHECK CONSTRAINT [FK_recuperacion_tipo]
GO
ALTER TABLE [dbo].[cuenta_token_sesion]  WITH CHECK ADD  CONSTRAINT [FK_sesion_cuenta] FOREIGN KEY([CuentaID])
REFERENCES [dbo].[cuenta] ([CuentaID])
GO
ALTER TABLE [dbo].[cuenta_token_sesion] CHECK CONSTRAINT [FK_sesion_cuenta]
GO
ALTER TABLE [dbo].[cuenta_token_sesion]  WITH CHECK ADD  CONSTRAINT [FK_sesion_tipo] FOREIGN KEY([TipoID])
REFERENCES [dbo].[token_tipo] ([TipoID])
GO
ALTER TABLE [dbo].[cuenta_token_sesion] CHECK CONSTRAINT [FK_sesion_tipo]
GO
ALTER TABLE [dbo].[documento_perfil]  WITH CHECK ADD  CONSTRAINT [FK_documento_tipo] FOREIGN KEY([TipoDocumentoID])
REFERENCES [dbo].[tipo_documento] ([TipoDocumentoID])
GO
ALTER TABLE [dbo].[documento_perfil] CHECK CONSTRAINT [FK_documento_tipo]
GO
ALTER TABLE [dbo].[perfil]  WITH CHECK ADD  CONSTRAINT [FK_perfil_cuenta] FOREIGN KEY([CuentaID])
REFERENCES [dbo].[cuenta] ([CuentaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[perfil] CHECK CONSTRAINT [FK_perfil_cuenta]
GO
ALTER TABLE [dbo].[perfil]  WITH CHECK ADD  CONSTRAINT [FK_perfil_tipo_identificacion] FOREIGN KEY([TipoIdentificacionID])
REFERENCES [dbo].[tipo_identificacion] ([TipoIdentificacionID])
GO
ALTER TABLE [dbo].[perfil] CHECK CONSTRAINT [FK_perfil_tipo_identificacion]
GO
ALTER TABLE [dbo].[rel_perfil_documento]  WITH CHECK ADD  CONSTRAINT [FK_rel_documento] FOREIGN KEY([DocumentoID])
REFERENCES [dbo].[documento_perfil] ([DocumentoID])
GO
ALTER TABLE [dbo].[rel_perfil_documento] CHECK CONSTRAINT [FK_rel_documento]
GO
ALTER TABLE [dbo].[rel_perfil_documento]  WITH CHECK ADD  CONSTRAINT [FK_rel_perfil] FOREIGN KEY([PerfilID])
REFERENCES [dbo].[perfil] ([PerfilID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rel_perfil_documento] CHECK CONSTRAINT [FK_rel_perfil]
GO
ALTER TABLE [dbo].[rel_perfil_documento]  WITH CHECK ADD  CONSTRAINT [FK_rel_revisor] FOREIGN KEY([RevisadoPor])
REFERENCES [dbo].[cuenta] ([CuentaID])
GO
ALTER TABLE [dbo].[rel_perfil_documento] CHECK CONSTRAINT [FK_rel_revisor]
GO
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [CK_cuenta_Autenticacion] CHECK  (([PasswordHash] IS NOT NULL OR [GoogleID] IS NOT NULL))
GO
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [CK_cuenta_Autenticacion]
GO
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [CK_cuenta_Estado] CHECK  (([Estado]>=(0) AND [Estado]<=(2)))
GO
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [CK_cuenta_Estado]
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion]  WITH CHECK ADD  CONSTRAINT [CHK_recuperacion_codigo] CHECK  ((NOT [Codigo] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[cuenta_token_recuperacion] CHECK CONSTRAINT [CHK_recuperacion_codigo]
GO
ALTER TABLE [dbo].[perfil]  WITH CHECK ADD  CONSTRAINT [CK_perfil_Genero] CHECK  (([Genero]='O' OR [Genero]='F' OR [Genero]='M'))
GO
ALTER TABLE [dbo].[perfil] CHECK CONSTRAINT [CK_perfil_Genero]
GO
ALTER TABLE [dbo].[registro_temporal]  WITH CHECK ADD  CONSTRAINT [CK_registro_Intentos] CHECK  (([Intentos]<=(5)))
GO
ALTER TABLE [dbo].[registro_temporal] CHECK CONSTRAINT [CK_registro_Intentos]
GO
ALTER TABLE [dbo].[registro_temporal]  WITH CHECK ADD  CONSTRAINT [CK_registro_Reenvios] CHECK  (([Reenvios]<=(10)))
GO
ALTER TABLE [dbo].[registro_temporal] CHECK CONSTRAINT [CK_registro_Reenvios]
GO
ALTER TABLE [dbo].[rel_perfil_documento]  WITH CHECK ADD  CONSTRAINT [CK_rel_estado] CHECK  (([Estado]>=(0) AND [Estado]<=(2)))
GO
ALTER TABLE [dbo].[rel_perfil_documento] CHECK CONSTRAINT [CK_rel_estado]
GO
/****** Object:  StoredProcedure [dbo].[SEG_ConfirmarRegistro]    Script Date: 14/3/2026 13:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- STORED PROCEDURE: Confirmar Registro
-- (Único SP necesario - operación transaccional)
-- =============================================

CREATE PROCEDURE [dbo].[SEG_ConfirmarRegistro]
    @RegistroID INT,
    @CuentaID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @Email VARCHAR(150),
                @PasswordHash NVARCHAR(255),
                @PrimerNombre VARCHAR(40),
                @SegundoNombre VARCHAR(40),
                @PrimerApellido VARCHAR(40),
                @SegundoApellido VARCHAR(40),
                @Telefono VARCHAR(15);

        -- Obtener datos del registro temporal
        SELECT 
            @Email = Email,
            @PasswordHash = PasswordHash,
            @PrimerNombre = PrimerNombre,
            @SegundoNombre = SegundoNombre,
            @PrimerApellido = PrimerApellido,
            @SegundoApellido = SegundoApellido,
            @Telefono = Telefono
        FROM registro_temporal
        WHERE RegistroID = @RegistroID;

        -- Validar que existe el registro
        IF @Email IS NULL
        BEGIN
            SET @CuentaID = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Validar que el email no exista ya en cuenta
        IF EXISTS (SELECT 1 FROM cuenta WHERE Email = @Email)
        BEGIN
            SET @CuentaID = -1;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insertar en cuenta
        INSERT INTO cuenta (Email, PasswordHash, RolID, Estado, FechaRegistro)
        VALUES (@Email, @PasswordHash, 1, 1, GETDATE());

        SET @CuentaID = SCOPE_IDENTITY();

        -- Insertar en perfil
        INSERT INTO perfil (
            CuentaID,
            PrimerNombre,
            SegundoNombre,
            PrimerApellido,
            SegundoApellido,
            TelefonoPrincipal,
            FechaRegistro
        )
        VALUES (
            @CuentaID,
            @PrimerNombre,
            @SegundoNombre,
            @PrimerApellido,
            @SegundoApellido,
            @Telefono,
            GETDATE()
        );

        -- Eliminar registro temporal
        DELETE FROM registro_temporal WHERE RegistroID = @RegistroID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @CuentaID = 0;

        DECLARE @Msg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @Line INT = ERROR_LINE();
        RAISERROR('Línea %d: %s', 16, 1, @Line, @Msg);
    END CATCH
END
GO
USE [master]
GO
