<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capa_datos.Properties.Settings.db_colitas_felicesConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=db_colitas_felices;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="capa_datos.Properties.Settings.colitas_felices_2ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=colitas_felices_2;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="capa_datos.Properties.Settings.colitas_felices_2ConnectionString1"
            connectionString="Data Source=sqldatabasecf.database.windows.net;Initial Catalog=colitas_felices_2;User ID=up_colitas_felices;Password=ndx-4.5(2G&amp;1;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="capa_datos.Properties.Settings.DB_ColitasFelicesConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DB_ColitasFelices;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>