<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<!-- Configuración de Azure Blob Storage
	<appSettings>
    <add key="AzureBlobConnection" value="UseDevelopmentStorage=true" />
    <add key="AzureBlobContainer" value="fotos-colitas-felices" />
</appSettings> -->
	<appSettings>
		<add key="AzureBlobConnection" value="UseDevelopmentStorage=true" />
		<add key="AzureBlobContainer" value="fotos-colitas-felices" />
	</appSettings>

	<connectionStrings>
        <add name="capa_datos.Properties.Settings.db_colitas_felicesConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=db_colitas_felices;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>