.password-container {
    position: relative;
    width: 100%;
}

    .password-container input {
        width: 100%;
        padding-right: 45px;
    }

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

    .toggle-password:hover {
        color: #333;
    }

    .toggle-password:focus {
        outline: none;
    }

/* Cambia el color del icono */
#eyeIcon {
    color: #666;
}

.toggle-password:hover #eyeIcon {
    color: #333;
}

.google-btn {
    background-color: #ffffff;
    color: #444;
    border: 1px solid #ddd;
    margin-top: 10px;
}

    .google-btn:hover {
        background-color: #f5f5f5;
    }

.divider {
    margin: 15px 0;
    color: #999;
    font-weight: bold;
}