USE [master]
GO
/****** Object:  Database [colitas_felices_2]    Script Date: 14/1/2026 22:17:17 ******/
CREATE DATABASE [colitas_felices_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'colitas_felices_2', FILENAME = N'C:\Users\USER\colitas_felices_2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'colitas_felices_2_log', FILENAME = N'C:\Users\USER\colitas_felices_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [colitas_felices_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [colitas_felices_2]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 14/1/2026 22:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[CuentaID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Password] [varbinary](500) NULL,
	[Rol] [tinyint] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[UltimoAcceso] [datetime] NULL,
	[IntentosFallidos] [int] NOT NULL,
	[BloqueadoHasta] [datetime] NULL,
	[VecesBloqueo] [int] NOT NULL,
	[TokenRecuperacion] [varchar](255) NULL,
	[TokenExpiracion] [datetime] NULL,
	[ClaveTemporal] [varchar](255) NULL,
	[ClaveTemporalExpira] [datetime] NULL,
	[TipoAutenticacion] [varchar](20) NOT NULL,
	[Estado] [tinyint] NOT NULL,
 CONSTRAINT [PK__Cuenta__40072EA1D55B0C37] PRIMARY KEY CLUSTERED 
(
	[CuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Cuenta__A9D1053465478D40] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 14/1/2026 22:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[PerfilID] [int] IDENTITY(1,1) NOT NULL,
	[CuentaID] [int] NOT NULL,
	[Cedula] [varchar](15) NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Telefono] [varchar](15) NULL,
	[Direccion] [varchar](255) NULL,
	[FotoPerfil] [varbinary](max) NULL,
	[PerfilCompleto] [char](1) NOT NULL,
 CONSTRAINT [PK__Perfil__0C005B66B1ED2BE7] PRIMARY KEY CLUSTERED 
(
	[PerfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Perfil__40072EA0353F58FD] UNIQUE NONCLUSTERED 
(
	[CuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Perfil__B4ADFE382E545233] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorExterno]    Script Date: 14/1/2026 22:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorExterno](
	[ProveedorExternoID] [int] IDENTITY(1,1) NOT NULL,
	[CuentaID] [int] NOT NULL,
	[Proveedor] [varchar](20) NOT NULL,
	[ProveedorUserID] [varchar](255) NOT NULL,
	[EmailProveedor] [varchar](150) NOT NULL,
	[FechaVinculacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProveedorExternoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Proveedor_User] UNIQUE NONCLUSTERED 
(
	[Proveedor] ASC,
	[ProveedorUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_Rol]  DEFAULT ((2)) FOR [Rol]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF__Cuenta__FechaReg__5EBF139D]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF__Cuenta__Intentos__5FB337D6]  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF__Cuenta__VecesBlo__60A75C0F]  DEFAULT ((0)) FOR [VecesBloqueo]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF__Cuenta__TipoAute__619B8048]  DEFAULT ('Local') FOR [TipoAutenticacion]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Perfil] ADD  CONSTRAINT [DF__Perfil__PerfilCo__6754599E]  DEFAULT ((0)) FOR [PerfilCompleto]
GO
ALTER TABLE [dbo].[ProveedorExterno] ADD  DEFAULT (getdate()) FOR [FechaVinculacion]
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Cuenta] FOREIGN KEY([CuentaID])
REFERENCES [dbo].[Cuenta] ([CuentaID])
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK_Perfil_Cuenta]
GO
ALTER TABLE [dbo].[ProveedorExterno]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Cuenta] FOREIGN KEY([CuentaID])
REFERENCES [dbo].[Cuenta] ([CuentaID])
GO
ALTER TABLE [dbo].[ProveedorExterno] CHECK CONSTRAINT [FK_Proveedor_Cuenta]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarPerfil]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarPerfil]
    @PerfilID INT,
    @Cedula VARCHAR(15),
    @Nombres VARCHAR(100),
    @Apellidos VARCHAR(100),
    @Telefono VARCHAR(15),
    @Direccion VARCHAR(255) = NULL,
    @FotoPerfil VARBINARY(MAX) = NULL,
    @Exitoso BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @Exitoso = 0;
    SET @Mensaje = '';

    BEGIN TRY
        -- ================= VALIDACIONES =================

        IF NOT EXISTS (SELECT 1 FROM Perfil WHERE PerfilID = @PerfilID)
        BEGIN
            SET @Mensaje = 'El perfil no existe';
            RETURN -1;
        END

        IF @Cedula IS NULL OR LTRIM(RTRIM(@Cedula)) = ''
        BEGIN
            SET @Mensaje = 'La cédula es obligatoria';
            RETURN -1;
        END

        IF @Cedula NOT LIKE '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
        BEGIN
            SET @Mensaje = 'La cédula debe tener 10 dígitos numéricos';
            RETURN -1;
        END

        IF EXISTS (
            SELECT 1 FROM Perfil 
            WHERE Cedula = @Cedula AND PerfilID != @PerfilID
        )
        BEGIN
            SET @Mensaje = 'La cédula ya está registrada por otro usuario';
            RETURN -1;
        END

        IF @Nombres IS NULL OR LTRIM(RTRIM(@Nombres)) = ''
        BEGIN
            SET @Mensaje = 'Los nombres son obligatorios';
            RETURN -1;
        END

        IF @Apellidos IS NULL OR LTRIM(RTRIM(@Apellidos)) = ''
        BEGIN
            SET @Mensaje = 'Los apellidos son obligatorios';
            RETURN -1;
        END

        IF @Telefono IS NULL OR LTRIM(RTRIM(@Telefono)) = ''
        BEGIN
            SET @Mensaje = 'El teléfono es obligatorio';
            RETURN -1;
        END

        IF @Telefono NOT LIKE '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
        BEGIN
            SET @Mensaje = 'El teléfono debe tener 10 dígitos numéricos';
            RETURN -1;
        END

        -- ================= ACTUALIZAR PERFIL =================

        UPDATE Perfil
        SET
            Cedula = @Cedula,
            Nombres = @Nombres,
            Apellidos = @Apellidos,
            Telefono = @Telefono,
            Direccion = @Direccion,
            FotoPerfil = CASE 
                            WHEN @FotoPerfil IS NOT NULL THEN @FotoPerfil
                            ELSE FotoPerfil
                         END
        WHERE PerfilID = @PerfilID;

        -- ================= VALIDAR PERFIL COMPLETO =================

        IF EXISTS (
            SELECT 1
            FROM Perfil
            WHERE PerfilID = @PerfilID
              AND Cedula IS NOT NULL AND LTRIM(RTRIM(Cedula)) <> ''
              AND Nombres IS NOT NULL AND LTRIM(RTRIM(Nombres)) <> ''
              AND Apellidos IS NOT NULL AND LTRIM(RTRIM(Apellidos)) <> ''
              AND Telefono IS NOT NULL AND LTRIM(RTRIM(Telefono)) <> ''
              AND Direccion IS NOT NULL AND LTRIM(RTRIM(Direccion)) <> ''
              AND FotoPerfil IS NOT NULL
        )
        BEGIN
            UPDATE Perfil
            SET PerfilCompleto = 1
            WHERE PerfilID = @PerfilID;
        END
        ELSE
        BEGIN
            UPDATE Perfil
            SET PerfilCompleto = 0
            WHERE PerfilID = @PerfilID;
        END

        SET @Exitoso = 1;
        SET @Mensaje = 'Perfil actualizado correctamente';
        RETURN 0;

    END TRY
    BEGIN CATCH
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        RETURN -1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CambiarEstadoCuenta]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CambiarEstadoCuenta]
(
    @CuentaID INT,
    @NuevoEstado TINYINT,
    @Resultado BIT OUTPUT,          -- ✅ 1 (true) = Éxito, 0 (false) = Error
    @Codigo TINYINT OUTPUT,         -- 0 = Normal, 1 = Último admin, 2+ = Futuros
    @Mensaje NVARCHAR(300) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Rol TINYINT;
    DECLARE @EstadoActual TINYINT;
    DECLARE @AdminsActivos INT;

    -- Inicializar valores por defecto
    SET @Resultado = 0;  -- false
    SET @Codigo = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ✅ 1. Verificar existencia de la cuenta
        SELECT 
            @Rol = Rol,
            @EstadoActual = Estado
        FROM Cuenta WITH (UPDLOCK)
        WHERE CuentaID = @CuentaID;

        IF @Rol IS NULL
        BEGIN
            SET @Resultado = 0;
            SET @Codigo = 0;
            SET @Mensaje = 'La cuenta especificada no existe en el sistema.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- ✅ 2. Validar que el estado sea diferente
        IF @EstadoActual = @NuevoEstado
        BEGIN
            SET @Resultado = 0;
            SET @Codigo = 0;
            SET @Mensaje = 'La cuenta ya tiene el estado solicitado.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- ✅ 3. Validar valor del nuevo estado (1=Activo, 2=Inactivo, 3=Bloqueado)
        IF @NuevoEstado NOT IN (1, 2, 3)
        BEGIN
            SET @Resultado = 0;
            SET @Codigo = 0;
            SET @Mensaje = 'El estado solicitado no es válido. Use: 1=Activo, 2=Inactivo, 3=Bloqueado.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- ✅ 4. REGLA CRÍTICA: NO permitir desactivar/bloquear al último ADMIN activo
        IF @Rol = 1 AND @EstadoActual = 1 AND @NuevoEstado <> 1
        BEGIN
            -- Contar administradores activos
            SELECT @AdminsActivos = COUNT(*)
            FROM Cuenta
            WHERE Rol = 1 AND Estado = 1;

            IF @AdminsActivos <= 1
            BEGIN
                SET @Resultado = 0;
                SET @Codigo = 0;
                SET @Mensaje = 'No se puede desactivar/bloquear al único administrador activo del sistema.';
                ROLLBACK TRANSACTION;
                RETURN;
            END
        END

        -- ✅ 5. Actualizar estado de la cuenta
        UPDATE Cuenta
        SET 
            Estado = @NuevoEstado,
            IntentosFallidos = CASE WHEN @NuevoEstado = 1 THEN 0 ELSE IntentosFallidos END,
            BloqueadoHasta = CASE WHEN @NuevoEstado = 1 THEN NULL ELSE BloqueadoHasta END,
            VecesBloqueo = CASE WHEN @NuevoEstado = 1 THEN 0 ELSE VecesBloqueo END
        WHERE CuentaID = @CuentaID;

        -- ✅ 6. Verificar si quedó SOLO UN administrador activo (ADVERTENCIA)
        IF @Rol = 1 AND @NuevoEstado <> 1
        BEGIN
            SELECT @AdminsActivos = COUNT(*)
            FROM Cuenta
            WHERE Rol = 1 AND Estado = 1;

            IF @AdminsActivos = 1
            BEGIN
                SET @Resultado = 1;     -- ✅ true (Éxito)
                SET @Codigo = 1;        -- ⚠️ CÓDIGO ESPECIAL: Último admin
                SET @Mensaje = 'Estado actualizado correctamente.' + CHAR(10) + '¡ADVERTENCIA! Solo queda un administrador activo en el sistema.';
                COMMIT TRANSACTION;
                RETURN;
            END
        END

        -- ✅ 7. Éxito normal (sin situaciones especiales)
        SET @Resultado = 1;  -- true
        SET @Codigo = 0;     -- Todo normal
        SET @Mensaje = 'El estado de la cuenta se actualizó correctamente.';
        
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- ❌ Manejo de errores
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @Resultado = 0;  -- false
        SET @Codigo = 0;
        SET @Mensaje = 'Error al cambiar estado: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CambiarPassword]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CambiarPassword]
    @CuentaID INT,
    @NuevoPassword VARCHAR(255),
    
    -- Parámetros de salida
    @Exitoso BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Inicializar outputs
    SET @Exitoso = 0;
    SET @Mensaje = '';
    
    -- Variables
    DECLARE @PasswordCifrado VARBINARY(500);
    
    BEGIN TRY
        -- ========== VALIDACIONES ==========
        
        -- Verificar que la cuenta existe
        IF NOT EXISTS (SELECT 1 FROM Cuenta WHERE CuentaID = @CuentaID)
        BEGIN
            SET @Mensaje = 'La cuenta no existe';
            RETURN -1;
        END
        
        -- Password obligatorio
        IF @NuevoPassword IS NULL OR LTRIM(RTRIM(@NuevoPassword)) = ''
        BEGIN
            SET @Mensaje = 'La contraseña es obligatoria';
            RETURN -1;
        END
        
        -- Mínimo 6 caracteres
        IF LEN(@NuevoPassword) < 6
        BEGIN
            SET @Mensaje = 'La contraseña debe tener al menos 6 caracteres';
            RETURN -1;
        END
        
        -- Debe contener al menos una mayúscula
        IF @NuevoPassword COLLATE Latin1_General_BIN NOT LIKE '%[A-Z]%'
        BEGIN
            SET @Mensaje = 'La contraseña debe contener al menos una letra mayúscula';
            RETURN -1;
        END
        
        -- Debe contener al menos una minúscula
        IF @NuevoPassword COLLATE Latin1_General_BIN NOT LIKE '%[a-z]%'
        BEGIN
            SET @Mensaje = 'La contraseña debe contener al menos una letra minúscula';
            RETURN -1;
        END
        
        -- Debe contener al menos un número
        IF @NuevoPassword NOT LIKE '%[0-9]%'
        BEGIN
            SET @Mensaje = 'La contraseña debe contener al menos un número';
            RETURN -1;
        END
        
        -- ========== CIFRAR Y ACTUALIZAR ==========
        
        -- Abrir clave simétrica
        OPEN SYMMETRIC KEY ClaveAES_Refugio
            DECRYPTION BY CERTIFICATE CertRefugio;
        
        -- Cifrar nueva contraseña
        SET @PasswordCifrado = ENCRYPTBYKEY(KEY_GUID('ClaveAES_Refugio'), @NuevoPassword);
        
        -- Cerrar clave
        CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        -- Actualizar contraseña y limpiar tokens de recuperación
        UPDATE Cuenta
        SET Password = @PasswordCifrado,
            TokenRecuperacion = NULL,
            TokenExpiracion = NULL,
            ClaveTemporal = NULL,
            ClaveTemporalExpira = NULL,
            IntentosFallidos = 0,
            BloqueadoHasta = NULL
        WHERE CuentaID = @CuentaID;
        
        SET @Exitoso = 1;
        SET @Mensaje = 'Contraseña actualizada exitosamente';
        RETURN 0;
        
    END TRY
    BEGIN CATCH
        -- Cerrar clave simétrica si quedó abierta
        IF EXISTS (SELECT * FROM sys.openkeys WHERE key_name = 'ClaveAES_Refugio')
            CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        RETURN -1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CambiarRol]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CambiarRol]
    @CuentaID INT,
    @NuevoRol TINYINT,
    @Exitoso BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SET @Exitoso = 0;
    SET @Mensaje = '';
    
    DECLARE @ROL_ADMIN TINYINT = 1;
    DECLARE @ROL_USUARIO TINYINT = 2;
    DECLARE @RolActual TINYINT;
    DECLARE @TotalAdmins INT;
    
    BEGIN TRY
        -- Verificar que la cuenta existe
        IF NOT EXISTS (SELECT 1 FROM Cuenta WHERE CuentaID = @CuentaID)
        BEGIN
            SET @Mensaje = 'La cuenta no existe';
            RETURN -1;
        END
        
        -- Validar rol válido
        IF @NuevoRol NOT IN (@ROL_ADMIN, @ROL_USUARIO)
        BEGIN
            SET @Mensaje = 'Rol no válido';
            RETURN -1;
        END
        
        -- Obtener rol actual
        SELECT @RolActual = Rol FROM Cuenta WHERE CuentaID = @CuentaID;
        
        -- Si está quitando rol admin, verificar que no sea el último
        IF @RolActual = @ROL_ADMIN AND @NuevoRol != @ROL_ADMIN
        BEGIN
            SELECT @TotalAdmins = COUNT(*) 
            FROM Cuenta 
            WHERE Rol = @ROL_ADMIN AND Estado = 1;
            
            IF @TotalAdmins <= 1
            BEGIN
                SET @Mensaje = 'No se puede quitar el rol de administrador al único admin del sistema';
                RETURN -1;
            END
        END
        
        -- Actualizar rol
        UPDATE Cuenta SET Rol = @NuevoRol WHERE CuentaID = @CuentaID;
        
        SET @Exitoso = 1;
        SET @Mensaje = 'Rol actualizado exitosamente';
        RETURN 0;
        
    END TRY
    BEGIN CATCH
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        RETURN -1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearUsuario_Admin]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearUsuario_Admin]
    -- Parámetros de Cuenta
    @Email VARCHAR(150),
    @Password VARCHAR(255),
    @Rol TINYINT, -- Cambiado de VARCHAR(20) a TINYINT
    
    -- Parámetros opcionales de Perfil
    @Cedula VARCHAR(15) = NULL,
    @Nombres VARCHAR(100) = NULL,
    @Apellidos VARCHAR(100) = NULL,
    @Telefono VARCHAR(15) = NULL,
    @Direccion VARCHAR(255) = NULL,
    @FotoPerfil VARBINARY(MAX) = NULL,
    
    -- Parámetros de salida
    @CuentaID INT OUTPUT,
    @PerfilID INT OUTPUT,
    @Exitoso BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Inicializar outputs
    SET @Exitoso = 0;
    SET @CuentaID = NULL;
    SET @PerfilID = NULL;
    SET @Mensaje = '';
    
    -- Variables
    DECLARE @CrearPerfil BIT = 0;
    DECLARE @PasswordCifrado VARBINARY(500);
    
    -- Constantes para roles y estados
    DECLARE @ROL_ADMIN TINYINT = 1;
    DECLARE @ROL_USUARIO TINYINT = 2;
    DECLARE @ESTADO_ACTIVO TINYINT = 1;
    DECLARE @ESTADO_BLOQUEADO TINYINT = 2;
    DECLARE @ESTADO_PENDIENTE TINYINT = 3;
    
    BEGIN TRY
        -- ========== VALIDACIONES DE CUENTA ==========
        
        -- Email obligatorio y válido
        IF @Email IS NULL OR LTRIM(RTRIM(@Email)) = ''
        BEGIN
            SET @Mensaje = 'El email es obligatorio';
            RETURN -1;
        END
        
        IF @Email NOT LIKE '%_@__%.__%'
        BEGIN
            SET @Mensaje = 'Formato de email inválido';
            RETURN -1;
        END
        
        -- Email único
        IF EXISTS (SELECT 1 FROM Cuenta WHERE Email = @Email)
        BEGIN
            SET @Mensaje = 'El email ya está registrado';
            RETURN -1;
        END
        
        -- Password mínimo 6 caracteres
        IF @Password IS NULL OR LEN(@Password) < 6
        BEGIN
            SET @Mensaje = 'La contraseña debe tener al menos 6 caracteres';
            RETURN -1;
        END
        
        -- Validar rol
        IF @Rol NOT IN (@ROL_ADMIN, @ROL_USUARIO)
        BEGIN
            SET @Mensaje = 'Rol no válido';
            RETURN -1;
        END
      
        -- ========== VALIDACIONES DE PERFIL (si aplica) ==========
        
        -- Determinar si se debe crear perfil
        IF @Cedula IS NOT NULL OR @Nombres IS NOT NULL OR @Apellidos IS NOT NULL
        BEGIN
            SET @CrearPerfil = 1;
            
            -- Si se proporciona cédula, nombres y apellidos son obligatorios
            IF @Cedula IS NOT NULL
            BEGIN
                IF @Nombres IS NULL OR LTRIM(RTRIM(@Nombres)) = ''
                BEGIN
                    SET @Mensaje = 'Si proporciona cédula, los nombres son obligatorios';
                    RETURN -1;
                END
                
                IF @Apellidos IS NULL OR LTRIM(RTRIM(@Apellidos)) = ''
                BEGIN
                    SET @Mensaje = 'Si proporciona cédula, los apellidos son obligatorios';
                    RETURN -1;
                END
                
                -- Validar formato de cédula (solo números, 10 dígitos para Ecuador)
                IF @Cedula NOT LIKE '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
                BEGIN
                    SET @Mensaje = 'La cédula debe tener 10 dígitos numéricos';
                    RETURN -1;
                END
                
                -- Cédula única
                IF EXISTS (SELECT 1 FROM Perfil WHERE Cedula = @Cedula)
                BEGIN
                    SET @Mensaje = 'La cédula ya está registrada';
                    RETURN -1;
                END
            END
            
            -- Validar teléfono si se proporciona (10 dígitos)
            IF @Telefono IS NOT NULL AND @Telefono NOT LIKE '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
            BEGIN
                SET @Mensaje = 'El teléfono debe tener 10 dígitos numéricos';
                RETURN -1;
            END
        END
        
        -- ========== INICIAR TRANSACCIÓN ==========
        BEGIN TRANSACTION;
        
        -- Cifrar password
        OPEN SYMMETRIC KEY ClaveAES_Refugio
            DECRYPTION BY CERTIFICATE CertRefugio;
        
        SET @PasswordCifrado = ENCRYPTBYKEY(KEY_GUID('ClaveAES_Refugio'), @Password);
        
        CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        -- ========== CREAR CUENTA ==========
        INSERT INTO Cuenta (
            Email, 
            Password, 
            Rol, 
            FechaRegistro,
            IntentosFallidos, 
            VecesBloqueo, 
            TipoAutenticacion, 
            Estado,
            UltimoAcceso
        )
        VALUES (
            @Email, 
            @PasswordCifrado, 
            @Rol, 
            GETDATE(),
            0, 
            0, 
            'Local', 
            @ESTADO_ACTIVO, -- Usando constante numérica
            GETDATE() -- Agregado UltimoAcceso al crear
        );
        
        SET @CuentaID = SCOPE_IDENTITY();
        
        -- ========== CREAR PERFIL (si aplica) ==========
        IF @CrearPerfil = 1
        BEGIN
            INSERT INTO Perfil (
                CuentaID,
                Cedula,
                Nombres,
                Apellidos,
                Telefono,
                Direccion,
                FotoPerfil,
                PerfilCompleto
            )
            VALUES (
                @CuentaID,
                @Cedula,
                @Nombres,
                @Apellidos,
                @Telefono,
                @Direccion,
                @FotoPerfil,
                CASE 
                    WHEN @Cedula IS NOT NULL 
                     AND @Nombres IS NOT NULL 
                     AND @Apellidos IS NOT NULL 
                     AND @Telefono IS NOT NULL 
                     AND @Direccion IS NOT NULL 
                    THEN 1 -- Usando 1 para indicar que el perfil está completo
                    ELSE 0 -- Usando 0 para indicar que el perfil está incompleto
                END
            );
            
            SET @PerfilID = SCOPE_IDENTITY();
            SET @Mensaje = 'Usuario y perfil creados exitosamente';
        END
        ELSE
        BEGIN
            SET @Mensaje = 'Usuario creado exitosamente';
        END
        
        -- Confirmar transacción
        COMMIT TRANSACTION;
        
        SET @Exitoso = 1;
        RETURN 0;
        
    END TRY
    BEGIN CATCH
        -- Rollback en caso de error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- Cerrar clave simétrica si quedó abierta
        IF EXISTS (SELECT * FROM sys.openkeys WHERE key_name = 'ClaveAES_Refugio')
            CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        RETURN -1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Cuenta_Buscar]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:           Dany
-- Fecha:           2025
-- Descripción:     Busca cuentas por email, cédula, nombres o rol
-- =============================================
CREATE PROCEDURE [dbo].[sp_Cuenta_Buscar]
    @Termino VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Si el término está vacío, devolver todos los registros
    IF @Termino IS NULL OR LTRIM(RTRIM(@Termino)) = ''
    BEGIN
        SELECT 
            c.CuentaID,
            c.Email,
            c.Rol,
            c.Estado,
            c.UltimoAcceso,
            p.Nombres,
            p.Apellidos,
            p.FotoPerfil
        FROM Cuenta c
        LEFT JOIN Perfil p ON c.CuentaID = p.CuentaID
        ORDER BY c.CuentaID DESC;
        RETURN;
    END
    
    -- Limpiar el término
    SET @Termino = LTRIM(RTRIM(@Termino));
    
    -- Buscar en campos relevantes
    SELECT 
        c.CuentaID,
        c.Email,
        c.Rol,
        c.Estado,
        c.UltimoAcceso,
        p.Nombres,
        p.Apellidos,
        p.FotoPerfil
    FROM Cuenta c
    LEFT JOIN Perfil p ON c.CuentaID = p.CuentaID
    WHERE 
        c.Email LIKE '%' + @Termino + '%'
        OR p.Cedula LIKE '%' + @Termino + '%'
        OR p.Nombres LIKE '%' + @Termino + '%'
        OR p.Apellidos LIKE '%' + @Termino + '%'
        OR CONCAT(p.Nombres, ' ', p.Apellidos) LIKE '%' + @Termino + '%'
        OR (@Termino IN ('admin', 'administrador') AND c.Rol = 1)
        OR (@Termino IN ('voluntario', 'voluntarios') AND c.Rol = 2)
        OR (@Termino IN ('adoptante', 'adoptantes') AND c.Rol = 3)
    ORDER BY c.CuentaID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCuenta]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarCuenta]
    @CuentaID INT,
    @Exitoso BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Inicializar
    SET @Exitoso = 0;
    SET @Mensaje = '';
    
    -- Variables
    DECLARE @RolUsuario TINYINT; -- Cambiado de VARCHAR(20) a TINYINT
    DECLARE @TotalAdmins INT;
    
    -- Constantes para roles y estados
    DECLARE @ROL_ADMIN TINYINT = 1;
    DECLARE @ESTADO_ACTIVO TINYINT = 1;
    
    BEGIN TRY
        -- Verificar que la cuenta existe
        IF NOT EXISTS (SELECT 1 FROM Cuenta WHERE CuentaID = @CuentaID)
        BEGIN
            SET @Mensaje = 'La cuenta no existe';
            RETURN -1;
        END
        
        -- Obtener el rol del usuario a eliminar
        SELECT @RolUsuario = Rol
        FROM Cuenta
        WHERE CuentaID = @CuentaID;
        
        -- Si es ADMIN, verificar que no sea el último
        IF @RolUsuario = @ROL_ADMIN
        BEGIN
            -- Contar cuántos admins hay en total
            SELECT @TotalAdmins = COUNT(*)
            FROM Cuenta
            WHERE Rol = @ROL_ADMIN 
              AND Estado = @ESTADO_ACTIVO;
            
            -- Si solo hay 1 admin (el que se va a eliminar), NO permitir
            IF @TotalAdmins <= 1
            BEGIN
                SET @Mensaje = 'No se puede eliminar el último administrador del sistema';
                RETURN -1;
            END
        END
        
        -- ✅ Proceder con la eliminación

         -- 1. Eliminar proveedor externo (Google, etc.)
        DELETE FROM ProveedorExterno 
        WHERE CuentaID = @CuentaID;
        
        -- Primero eliminar el perfil asociado (si existe)
        DELETE FROM Perfil 
        WHERE CuentaID = @CuentaID;
        
        -- Luego eliminar la cuenta
        DELETE FROM Cuenta 
        WHERE CuentaID = @CuentaID;
        
        SET @Exitoso = 1;
        SET @Mensaje = 'Cuenta y perfil asociado eliminados exitosamente';
        RETURN 0;
        
    END TRY
    BEGIN CATCH
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LoginGoogle]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LoginGoogle]
    -- Parámetros de entrada (datos de Google)
    @GoogleID VARCHAR(255),
    @Email VARCHAR(150),
    @Nombre VARCHAR(100),
    
    -- Parámetros de salida
    @CuentaID INT OUTPUT,
    @RolUsuario TINYINT OUTPUT,
    @RequiereCompletarPerfil BIT OUTPUT,
    @EsNuevoUsuario BIT OUTPUT,
    @Exitoso BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Inicializar outputs
    SET @Exitoso = 0;
    SET @CuentaID = NULL;
    SET @RolUsuario = NULL;
    SET @RequiereCompletarPerfil = 0;
    SET @EsNuevoUsuario = 0;
    SET @Mensaje = '';
    
    -- Constantes
    DECLARE @ROL_USUARIO TINYINT = 2;
    DECLARE @ESTADO_ACTIVO TINYINT = 1;
    DECLARE @ESTADO_BLOQUEADO TINYINT = 2;
    
    DECLARE @Estado TINYINT;
    DECLARE @BloqueadoHasta DATETIME;
    DECLARE @PerfilCompleto BIT;
    DECLARE @ProveedorExiste BIT = 0;
    
    BEGIN TRY
        -- ========== VALIDACIONES BÁSICAS ==========
        IF @GoogleID IS NULL OR LTRIM(RTRIM(@GoogleID)) = ''
        BEGIN
            SET @Mensaje = 'Google ID es obligatorio';
            RETURN -1;
        END
        
        IF @Email IS NULL OR LTRIM(RTRIM(@Email)) = ''
        BEGIN
            SET @Mensaje = 'Email es obligatorio';
            RETURN -1;
        END
        
        -- ========== BUSCAR SI YA EXISTE VINCULACIÓN CON GOOGLE ==========
        SELECT @CuentaID = pe.CuentaID
        FROM ProveedorExterno pe
        WHERE pe.Proveedor = 'Google' 
          AND pe.ProveedorUserID = @GoogleID;
        
        IF @CuentaID IS NOT NULL
        BEGIN
            SET @ProveedorExiste = 1;
        END
        
        -- ========== CASO 1: Usuario ya vinculado con Google ==========
        IF @ProveedorExiste = 1
        BEGIN
            -- Obtener datos de la cuenta
            SELECT 
                @RolUsuario = c.Rol,
                @Estado = c.Estado,
                @BloqueadoHasta = c.BloqueadoHasta
            FROM Cuenta c
            WHERE c.CuentaID = @CuentaID;
            
            -- Verificar si está bloqueado
            IF @Estado = @ESTADO_BLOQUEADO
            BEGIN
                IF @BloqueadoHasta IS NULL
                BEGIN
                    SET @Mensaje = 'Cuenta bloqueada por administrador';
                    SET @CuentaID = NULL;
                    SET @RolUsuario = NULL;
                    RETURN -1;
                END
                ELSE IF @BloqueadoHasta > GETDATE()
                BEGIN
                    DECLARE @MinutosRestantes INT = DATEDIFF(MINUTE, GETDATE(), @BloqueadoHasta);
                    SET @Mensaje = 'Cuenta bloqueada. Espere ' + CAST(@MinutosRestantes AS VARCHAR) + ' minutos';
                    SET @CuentaID = NULL;
                    SET @RolUsuario = NULL;
                    RETURN -1;
                END
                ELSE
                BEGIN
                    -- Desbloquear automáticamente
                    UPDATE Cuenta SET 
                        Estado = @ESTADO_ACTIVO,
                        BloqueadoHasta = NULL,
                        IntentosFallidos = 0
                    WHERE CuentaID = @CuentaID;
                END
            END
            
            -- Verificar si perfil está completo
            SELECT @PerfilCompleto = ISNULL(p.PerfilCompleto, 0)
            FROM Perfil p
            WHERE p.CuentaID = @CuentaID;
            
            IF @PerfilCompleto IS NULL OR @PerfilCompleto = 0
                SET @RequiereCompletarPerfil = 1;
            
            -- Actualizar último acceso
            UPDATE Cuenta SET UltimoAcceso = GETDATE()
            WHERE CuentaID = @CuentaID;
            
            SET @Exitoso = 1;
            SET @EsNuevoUsuario = 0;
            SET @Mensaje = 'Login exitoso con Google';
            RETURN 0;
        END
        
        -- ========== CASO 2: Buscar si existe cuenta con ese email ==========
        SELECT @CuentaID = c.CuentaID,
               @RolUsuario = c.Rol,
               @Estado = c.Estado,
               @BloqueadoHasta = c.BloqueadoHasta
        FROM Cuenta c
        WHERE c.Email = @Email;
        
        IF @CuentaID IS NOT NULL
        BEGIN
            -- Cuenta existe pero no está vinculada a Google
            -- Verificar estado
            IF @Estado = @ESTADO_BLOQUEADO
            BEGIN
                IF @BloqueadoHasta IS NULL
                BEGIN
                    SET @Mensaje = 'Cuenta bloqueada por administrador';
                    SET @CuentaID = NULL;
                    SET @RolUsuario = NULL;
                    RETURN -1;
                END
                ELSE IF @BloqueadoHasta > GETDATE()
                BEGIN
                    SET @MinutosRestantes = DATEDIFF(MINUTE, GETDATE(), @BloqueadoHasta);
                    SET @Mensaje = 'Cuenta bloqueada. Espere ' + CAST(@MinutosRestantes AS VARCHAR) + ' minutos';
                    SET @CuentaID = NULL;
                    SET @RolUsuario = NULL;
                    RETURN -1;
                END
            END
            
            BEGIN TRANSACTION;
            
            -- Vincular cuenta existente con Google
            INSERT INTO ProveedorExterno (
                CuentaID,
                Proveedor,
                ProveedorUserID,
                EmailProveedor,
                FechaVinculacion
            )
            VALUES (
                @CuentaID,
                'Google',
                @GoogleID,
                @Email,
                GETDATE()
            );
            
            -- Actualizar tipo de autenticación
            UPDATE Cuenta SET 
                TipoAutenticacion = 'Mixto',
                UltimoAcceso = GETDATE(),
                Estado = @ESTADO_ACTIVO
            WHERE CuentaID = @CuentaID;
            
            COMMIT TRANSACTION;
            
            -- Verificar perfil
            SELECT @PerfilCompleto = ISNULL(p.PerfilCompleto, 0)
            FROM Perfil p
            WHERE p.CuentaID = @CuentaID;
            
            IF @PerfilCompleto IS NULL OR @PerfilCompleto = 0
                SET @RequiereCompletarPerfil = 1;
            
            SET @Exitoso = 1;
            SET @EsNuevoUsuario = 0;
            SET @Mensaje = 'Cuenta vinculada con Google exitosamente';
            RETURN 0;
        END
        
        -- ========== CASO 3: Usuario completamente nuevo ==========
        BEGIN TRANSACTION;
        
        -- Crear cuenta nueva (sin password porque es Google)
        INSERT INTO Cuenta (
            Email,
            Password,
            Rol,
            FechaRegistro,
            IntentosFallidos,
            VecesBloqueo,
            TipoAutenticacion,
            Estado,
            UltimoAcceso
        )
        VALUES (
            @Email,
            NULL, -- Sin password para autenticación externa
            @ROL_USUARIO,
            GETDATE(),
            0,
            0,
            'Google',
            @ESTADO_ACTIVO,
            GETDATE()
        );
        
        SET @CuentaID = SCOPE_IDENTITY();
        SET @RolUsuario = @ROL_USUARIO;
        
        -- Vincular con Google
        INSERT INTO ProveedorExterno (
            CuentaID,
            Proveedor,
            ProveedorUserID,
            EmailProveedor,
            FechaVinculacion
        )
        VALUES (
            @CuentaID,
            'Google',
            @GoogleID,
            @Email,
            GETDATE()
        );
        
        -- Crear perfil básico con el nombre de Google
        DECLARE @Nombres VARCHAR(100) = NULL;
        DECLARE @Apellidos VARCHAR(100) = NULL;
        
        -- Intentar separar nombre y apellido del nombre de Google
        IF @Nombre IS NOT NULL AND CHARINDEX(' ', @Nombre) > 0
        BEGIN
            SET @Nombres = LEFT(@Nombre, CHARINDEX(' ', @Nombre) - 1);
            SET @Apellidos = SUBSTRING(@Nombre, CHARINDEX(' ', @Nombre) + 1, LEN(@Nombre));
        END
        ELSE
        BEGIN
            SET @Nombres = @Nombre;
        END
        
        INSERT INTO Perfil (
            CuentaID,
            Cedula,
            Nombres,
            Apellidos,
            Telefono,
            Direccion,
            FotoPerfil,
            PerfilCompleto
        )
        VALUES (
            @CuentaID,
            NULL,
            @Nombres,
            @Apellidos,
            NULL,
            NULL,
            NULL,
            0 -- Perfil incompleto, debe completar datos
        );
        
        COMMIT TRANSACTION;
        
        SET @Exitoso = 1;
        SET @EsNuevoUsuario = 1;
        SET @RequiereCompletarPerfil = 1;
        SET @Mensaje = 'Cuenta creada exitosamente. Complete su perfil';
        RETURN 0;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        SET @CuentaID = NULL;
        SET @RolUsuario = NULL;
        RETURN -1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarUsuario]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP 2: USUARIO SE REGISTRA (con verificación)
-- ============================================
CREATE PROCEDURE [dbo].[SP_RegistrarUsuario]
    @Email VARCHAR(150),
    @Password VARCHAR(255),
    @CuentaID INT OUTPUT,
    @TokenVerificacion VARCHAR(6) OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validaciones
    IF @Email IS NULL OR LTRIM(RTRIM(@Email)) = ''
    BEGIN
        SET @Mensaje = 'ERROR: Email obligatorio';
        RETURN -1;
    END
    
    IF @Email NOT LIKE '%_@__%.__%'
    BEGIN
        SET @Mensaje = 'ERROR: Formato de email inválido';
        RETURN -1;
    END
    
    IF LEN(@Password) < 6
    BEGIN
        SET @Mensaje = 'ERROR: Contraseña mínimo 6 caracteres';
        RETURN -1;
    END
    
    IF EXISTS (SELECT 1 FROM Cuenta WHERE Email = @Email)
    BEGIN
        SET @Mensaje = 'ERROR: Email ya registrado';
        RETURN -1;
    END
    
    BEGIN TRY
        DECLARE @PasswordCifrado VARBINARY(500);
        
        -- Generar código de 6 dígitos
        SET @TokenVerificacion = RIGHT('000000' + CAST(ABS(CHECKSUM(NEWID())) % 1000000 AS VARCHAR), 6);
        
        OPEN SYMMETRIC KEY ClaveAES_Refugio
            DECRYPTION BY CERTIFICATE CertRefugio;
        
        SET @PasswordCifrado = ENCRYPTBYKEY(KEY_GUID('ClaveAES_Refugio'), @Password);
        
        CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        -- Usuario PENDIENTE con token
        INSERT INTO Cuenta (
            Email, Password, Rol, FechaRegistro,
            IntentosFallidos, VecesBloqueo, TipoAutenticacion, Estado,
            TokenRecuperacion, TokenExpiracion
        )
        VALUES (
            @Email, @PasswordCifrado, 'USUARIO', GETDATE(),
            0, 0, 'LOCAL', 'PENDIENTE',
            @TokenVerificacion, DATEADD(MINUTE, 15, GETDATE())
        );
        
        SET @CuentaID = SCOPE_IDENTITY();
        SET @Mensaje = 'Usuario registrado. Verificar email con código enviado';
        RETURN 0;
        
    END TRY
    BEGIN CATCH
        IF EXISTS (SELECT * FROM sys.openkeys WHERE key_name = 'ClaveAES_Refugio')
            CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        RETURN -1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarLogin]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VerificarLogin]
    @Email VARCHAR(150),
    @Password VARCHAR(255),
    @LoginExitoso BIT OUTPUT,
    @CuentaID INT OUTPUT,
    @RolUsuario TINYINT OUTPUT, -- Cambiado a TINYINT para manejar byte
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @PasswordCifrado VARBINARY(500);
    DECLARE @PasswordDescifrado VARCHAR(255);
    DECLARE @IntentosFallidos INT;
    DECLARE @BloqueadoHasta DATETIME;
    DECLARE @VecesBloqueo INT;
    DECLARE @Estado TINYINT; -- Cambiado a TINYINT para manejar byte
    
    -- Constantes para códigos de estado y rol
    DECLARE @ESTADO_ACTIVO TINYINT = 1;
    DECLARE @ESTADO_BLOQUEADO TINYINT = 2;
    DECLARE @ESTADO_PENDIENTE TINYINT = 3;
    DECLARE @ROL_ADMIN TINYINT = 1;
    DECLARE @ROL_USUARIO TINYINT = 2;
    
    -- Inicializar
    SET @LoginExitoso = 0;
    SET @CuentaID = NULL;
    SET @RolUsuario = NULL;
    
    -- Obtener datos del usuario
    SELECT 
        @CuentaID = CuentaID,
        @PasswordCifrado = Password,
        @IntentosFallidos = IntentosFallidos,
        @BloqueadoHasta = BloqueadoHasta,
        @VecesBloqueo = VecesBloqueo,
        @RolUsuario = Rol,
        @Estado = Estado
    FROM Cuenta
    WHERE Email = @Email;
    
    -- ¿Usuario existe?
    IF @CuentaID IS NULL
    BEGIN
        SET @Mensaje = 'Correo no existe';
        RETURN -1;
    END
    
    -- ¿Cuenta pendiente?
    IF @Estado = @ESTADO_PENDIENTE
    BEGIN
        SET @Mensaje = 'Cuenta no verificada. Revise su email';
        SET @CuentaID = NULL;
        SET @RolUsuario = NULL;
        RETURN -1;
    END
    
    -- ¿Cuenta bloqueada? (Solo si NO es admin)
    IF @Estado = @ESTADO_BLOQUEADO AND @RolUsuario != @ROL_ADMIN
    BEGIN
        IF @BloqueadoHasta > GETDATE()
        BEGIN
            DECLARE @MinutosRestantes INT = DATEDIFF(MINUTE, GETDATE(), @BloqueadoHasta);
            SET @Mensaje = 'Cuenta bloqueada. Espere ' + CAST(@MinutosRestantes AS VARCHAR) + ' minutos';
            SET @CuentaID = NULL;
            SET @RolUsuario = NULL;
            RETURN -1;
        END
        -- CASO : BLOQUEO PERMANENTE POR ADMIN
        ELSE IF @BloqueadoHasta IS NULL
            BEGIN
                SET @Mensaje = 'Cuenta bloqueada por administrador';
                SET @CuentaID = NULL;
                SET @RolUsuario = NULL;
                RETURN -1;
            END
     -- TIEMPO EXPIRADO (DESBLOQUEAR AUTOMATICAMENTE)
    ELSE
        BEGIN
            UPDATE Cuenta SET 
                Estado = @ESTADO_ACTIVO,
                BloqueadoHasta = NULL,
                IntentosFallidos = 0,
                VecesBloqueo = 0
            WHERE CuentaID = @CuentaID;
            
            SET @Estado = @ESTADO_ACTIVO;
            SET @IntentosFallidos = 0;
            SET @VecesBloqueo = 0;
        END
    END
    
    -- ¿Cuenta inactiva?
    IF @Estado NOT IN (@ESTADO_ACTIVO, @ESTADO_BLOQUEADO)
    BEGIN
        SET @Mensaje = 'Cuenta no activa';
        SET @CuentaID = NULL;
        SET @RolUsuario = NULL;
        RETURN -1;
    END
    
    -- Descifrar y comparar
    BEGIN TRY
        OPEN SYMMETRIC KEY ClaveAES_Refugio
            DECRYPTION BY CERTIFICATE CertRefugio;
        
        SET @PasswordDescifrado = CONVERT(VARCHAR(255), DECRYPTBYKEY(@PasswordCifrado));
        
        CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        -- ¿Contraseñas coinciden?
        IF @PasswordDescifrado = @Password
        BEGIN
            -- ✅ LOGIN EXITOSO
            UPDATE Cuenta SET 
                UltimoAcceso = GETDATE(),
                IntentosFallidos = 0,
                BloqueadoHasta = NULL,
                Estado = @ESTADO_ACTIVO,
                VecesBloqueo = 0
            WHERE CuentaID = @CuentaID;
            
            SET @LoginExitoso = 1;
            SET @Mensaje = 'Login exitoso';
            RETURN 0;
        END
        ELSE
        BEGIN
            -- ❌ CONTRASEÑA INCORRECTA
            
            -- Si es ADMIN, solo mostrar mensaje (sin bloqueo)
            IF @RolUsuario = @ROL_ADMIN
            BEGIN
                SET @Mensaje = 'Credenciales incorrectas';
                SET @CuentaID = NULL;
                SET @RolUsuario = NULL;
                RETURN -1;
            END
            
            -- Para otros roles, aplicar bloqueo
            SET @IntentosFallidos = @IntentosFallidos + 1;
            
            IF @IntentosFallidos >= 5
            BEGIN
                DECLARE @MinutosBloqueo INT;
                DECLARE @NuevoVecesBloqueo INT = @VecesBloqueo + 1;
                
                SET @MinutosBloqueo = CASE @NuevoVecesBloqueo
                    WHEN 1 THEN 15
                    WHEN 2 THEN 30
                    ELSE 60
                END;
                
                UPDATE Cuenta SET 
                    IntentosFallidos = @IntentosFallidos,
                    BloqueadoHasta = DATEADD(MINUTE, @MinutosBloqueo, GETDATE()),
                    VecesBloqueo = @NuevoVecesBloqueo,
                    Estado = @ESTADO_BLOQUEADO
                WHERE CuentaID = @CuentaID;
                
                SET @Mensaje = 'Cuenta bloqueada por ' + CAST(@MinutosBloqueo AS VARCHAR) + ' minutos';
            END
            ELSE
            BEGIN
                UPDATE Cuenta SET IntentosFallidos = @IntentosFallidos
                WHERE CuentaID = @CuentaID;
                
                SET @Mensaje = 'Credenciales incorrectas. Intentos restantes: ' + CAST(5 - @IntentosFallidos AS VARCHAR);
            END
            
            SET @CuentaID = NULL;
            SET @RolUsuario = NULL;
            RETURN -1;
        END
        
    END TRY
    BEGIN CATCH
        IF EXISTS (SELECT * FROM sys.openkeys WHERE key_name = 'ClaveAES_Refugio')
            CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        RETURN -1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarToken]    Script Date: 14/1/2026 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP 3: VERIFICAR TOKEN (activar cuenta)
-- ============================================
CREATE PROCEDURE [dbo].[SP_VerificarToken]
    @Email VARCHAR(150),
    @Token VARCHAR(6),
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TokenGuardado VARCHAR(6);
    DECLARE @TokenExpiracion DATETIME;
    DECLARE @Estado VARCHAR(20);
    
    -- Obtener datos
    SELECT 
        @TokenGuardado = TokenRecuperacion,
        @TokenExpiracion = TokenExpiracion,
        @Estado = Estado
    FROM Cuenta
    WHERE Email = @Email;
    
    -- Validaciones
    IF @TokenGuardado IS NULL
    BEGIN
        SET @Mensaje = 'ERROR: Usuario no encontrado';
        RETURN -1;
    END
    
    IF @Estado = 'ACTIVO'
    BEGIN
        SET @Mensaje = 'La cuenta ya está verificada';
        RETURN 0;
    END
    
    IF @TokenExpiracion < GETDATE()
    BEGIN
        SET @Mensaje = 'ERROR: Token expirado. Solicite uno nuevo';
        RETURN -1;
    END
    
    IF @TokenGuardado != @Token
    BEGIN
        SET @Mensaje = 'ERROR: Token incorrecto';
        RETURN -1;
    END
    
    -- Activar cuenta
    UPDATE Cuenta
    SET Estado = 'ACTIVO',
        TokenRecuperacion = NULL,
        TokenExpiracion = NULL
    WHERE Email = @Email;
    
    SET @Mensaje = 'Cuenta verificada exitosamente';
    RETURN 0;
END;
GO
USE [master]
GO
