USE [colitas_felices_2]
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarLogin]    Script Date: 6/1/2026 9:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_VerificarLogin]
    @Email VARCHAR(150),
    @Password VARCHAR(255),
    @LoginExitoso BIT OUTPUT,
    @CuentaID INT OUTPUT,
    @RolUsuario VARCHAR(20) OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @PasswordCifrado VARBINARY(500);
    DECLARE @PasswordDescifrado VARCHAR(255);
    DECLARE @IntentosFallidos INT;
    DECLARE @BloqueadoHasta DATETIME;
    DECLARE @VecesBloqueo INT;
    DECLARE @Estado VARCHAR(20);
    
    -- Inicializar
    SET @LoginExitoso = 0;
    SET @CuentaID = NULL;
    SET @RolUsuario = NULL;
    
    -- Obtener datos del usuario
    SELECT 
        @CuentaID = CuentaID,
        @PasswordCifrado = Password,
        @IntentosFallidos = IntentosFallidos,
        @BloqueadoHasta = BloqueadoHasta,
        @VecesBloqueo = VecesBloqueo,
        @RolUsuario = Rol,
        @Estado = Estado
    FROM Cuenta
    WHERE Email = @Email;
    
    -- ¿Usuario existe?
    IF @CuentaID IS NULL
    BEGIN
        SET @Mensaje = 'Credenciales incorrectas';
        RETURN -1;
    END
    
    -- ¿Cuenta pendiente?
    IF @Estado = 'PENDIENTE'
    BEGIN
        SET @Mensaje = 'Cuenta no verificada. Revise su email';
        SET @CuentaID = NULL;
        RETURN -1;
    END
    
    -- ¿Cuenta bloqueada? (Solo si NO es admin)
    IF @Estado = 'BLOQUEADO' AND @RolUsuario != 'ADMIN'
    BEGIN
        IF @BloqueadoHasta > GETDATE()
        BEGIN
            DECLARE @MinutosRestantes INT = DATEDIFF(MINUTE, GETDATE(), @BloqueadoHasta);
            SET @Mensaje = 'Cuenta bloqueada. Espere ' + CAST(@MinutosRestantes AS VARCHAR) + ' minutos';
            SET @CuentaID = NULL;
            SET @RolUsuario = NULL;
            RETURN -1;
        END
        ELSE
        BEGIN
            UPDATE Cuenta SET 
                Estado = 'ACTIVO',
                BloqueadoHasta = NULL,
                IntentosFallidos = 0
            WHERE CuentaID = @CuentaID;
            
            SET @Estado = 'ACTIVO';
            SET @IntentosFallidos = 0;
        END
    END
    
    -- ¿Cuenta inactiva?
    IF @Estado NOT IN ('ACTIVO', 'BLOQUEADO')
    BEGIN
        SET @Mensaje = 'Cuenta no activa';
        SET @CuentaID = NULL;
        SET @RolUsuario = NULL;
        RETURN -1;
    END
    
    -- Descifrar y comparar
    BEGIN TRY
        OPEN SYMMETRIC KEY ClaveAES_Refugio
            DECRYPTION BY CERTIFICATE CertRefugio;
        
        SET @PasswordDescifrado = CONVERT(VARCHAR(255), DECRYPTBYKEY(@PasswordCifrado));
        
        CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        -- ¿Contraseñas coinciden?
        IF @PasswordDescifrado = @Password
        BEGIN
            -- ✅ LOGIN EXITOSO
            UPDATE Cuenta SET 
                UltimoAcceso = GETDATE(),
                IntentosFallidos = 0,
                BloqueadoHasta = NULL,
                Estado = 'ACTIVO'
            WHERE CuentaID = @CuentaID;
            
            SET @LoginExitoso = 1;
            SET @Mensaje = 'Login exitoso';
            RETURN 0;
        END
        ELSE
        BEGIN
            -- ❌ CONTRASEÑA INCORRECTA
            
            -- Si es ADMIN, solo mostrar mensaje (sin bloqueo)
            IF @RolUsuario = 'ADMIN'
            BEGIN
                SET @Mensaje = 'Credenciales incorrectas';
                SET @CuentaID = NULL;
                SET @RolUsuario = NULL;
                RETURN -1;
            END
            
            -- Para otros roles, aplicar bloqueo
            SET @IntentosFallidos = @IntentosFallidos + 1;
            
            IF @IntentosFallidos >= 5
            BEGIN
                DECLARE @MinutosBloqueo INT;
                DECLARE @NuevoVecesBloqueo INT = @VecesBloqueo + 1;
                
                SET @MinutosBloqueo = CASE @NuevoVecesBloqueo
                    WHEN 1 THEN 15
                    WHEN 2 THEN 30
                    ELSE 60
                END;
                
                UPDATE Cuenta SET 
                    IntentosFallidos = @IntentosFallidos,
                    BloqueadoHasta = DATEADD(MINUTE, @MinutosBloqueo, GETDATE()),
                    VecesBloqueo = @NuevoVecesBloqueo,
                    Estado = 'BLOQUEADO'
                WHERE CuentaID = @CuentaID;
                
                SET @Mensaje = 'Cuenta bloqueada por ' + CAST(@MinutosBloqueo AS VARCHAR) + ' minutos';
            END
            ELSE
            BEGIN
                UPDATE Cuenta SET IntentosFallidos = @IntentosFallidos
                WHERE CuentaID = @CuentaID;
                
                SET @Mensaje = 'Credenciales incorrectas. Intentos restantes: ' + CAST(5 - @IntentosFallidos AS VARCHAR);
            END
            
            SET @CuentaID = NULL;
            SET @RolUsuario = NULL;
            RETURN -1;
        END
        
    END TRY
    BEGIN CATCH
        IF EXISTS (SELECT * FROM sys.openkeys WHERE key_name = 'ClaveAES_Refugio')
            CLOSE SYMMETRIC KEY ClaveAES_Refugio;
        
        SET @Mensaje = 'ERROR: ' + ERROR_MESSAGE();
        RETURN -1;
    END CATCH
END;


SELECT * FROM CUENTA;